
      body{
        background-color:red;
      }
      h1 {
        color:#;
      }
      h3 {
        color: #87CBB9;
      }

      hr {
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        width: 5%;
      }
